<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fonts/Montserrat/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/MusticaPro/stylesheet.css' %}">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>KIUC UNIVERSITY</title>
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/institut.css' %}">
</head>
<body>
    <header id="menu">
        <a href="/">
        <div class="container">
            <div class="headerInner">
                <div class="leftSide">
                    <div class="logo"><img src="{% static 'images/allNeed/logo.svg' %}" alt=""></div>
                    <h2>KUIC UNIVERSITY ОБразовательные вузы</h2>
                </div>
        </a>
                <ul>
                    {% for i in edus %}
                    <li><a href="{% url 'edu_detail' i.pk %}">{{i.title}}</a></li>
                    {% endfor %}
                </ul>
                <div class="rightSide">
                    <form action="" class="language">
                        <select name="select">
                            <option value="1">Кырг</option>
                            <option value="2" selected>Рус</option>
                            <option value="3">Eng</option>
                        </select>
                        <!-- <input type="submit" value="go"> -->
                    </form>
                    <div class="logo"><img src="{% static 'images/allNeed/logo.svg' %}" alt=""></div>
                </div>  

                <!-- menuBurger -->
                <div class="menuBurger">
                    <div class="btnBurger"></div>
                </div>
            </div>
            <div class="headerPrevend"></div>
            <div class="headerEnd">
                <ul>
                   {% for i in page %}
                    <li><a href="{% url 'page_detail' i.pk %}">{{i.title}}</a></li>
                {% endfor %}
                    <li><a href="{% url 'courses' edu.pk %}">Направления</a></li>
                    <li><a href="{% url 'teachers' edu.pk %}">Преподаватели</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="mobileContent hide">
        <div class="container">
            <a href="/"></a>
            <div class="leftSide">
                <div class="logo"><img src="{% static 'images/allNeed/logo.svg' %}" alt=""></div>
                <h2>KUIC UNIVERSITY ОБразовательные вузы</h2>
            </div>
            </a>
              <ul>
                    {% for i in edus %}
                    <li><a href="{% url 'edu_detail' i.pk %}">{{i.title}}</a></li>
                    {% endfor %}
                </ul>
            <ul class="secondList">
                {% for i in page %}
                    <li><a href="{% url 'page_detail' i.pk %}">{{i.title}}</a></li>
                {% endfor %}
                    <li><a href="{% url 'courses' edu.pk %}">Направления</a></li>
                    <li><a href="{% url 'teachers' edu.pk %}">Преподаватели</a></li>
            </ul>
        </div >
    </div>
    <main>
        <section class="institut">
            <div class="container">
                <div id="aboutInstitut" class="institutInner">
                    <div class="slideImg"><img src="{{course.image.url}}" alt=""></div>
                    <h2>{{course.title}}</h2>
                    <h5>{{course.description}}</h5>
                    {{course.content|safe}}
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="left"><p>мЫ В СОЦИАЛЬНЫХ РЕСУРСАХ</p></div>
        <div class="container">
            <div class="mobileFooter">
                <h2>мЫ В СОЦИАЛЬНЫХ РЕСУРСАХ</h2>
                <div class="socApp">
                    <a target="_blank" href="#"><img src="{% static 'images/allNeed/whatsApp.svg' %}" alt=""></a>
                    <a target="_blank" href="#"><img src="{% static 'images/allNeed/instagram.svg' %}" alt=""></a>
                </div>
            </div>
            <div class="footerInner">
                <div class="element">
                    <h2>Наши партнёры</h2>
                    <p>Кыргызский университет языков и культур</p>
                    <div class="social">
                        <div class="socialItem">
                            <div><img src="{% static 'images/allNeed/location.svg' %}" alt=""></div>
                            <a href="">Кыргызская республика, Сокулукский район, г.Шопоков, ул.Фрунзе,20</a>
                        </div>
                        <div class="socialItem">
                            <div><img src="{% static 'images/allNeed/phone.svg' %}" alt=""></div>
                            <a href="">+996(505)555552</a>
                        </div>
                        <div class="socialItem">
                            <div><img src="{% static 'images/allNeed/sms.svg' %}" alt=""></div>
                            <a href="">kiuc_bishkek@gmail.com</a>
                        </div>
                    </div>
                </div>
                {% for edus in edus %}
                <div class="element">
                    <a href="{% url 'edu_detail' edus.pk %}"><h2>{{ edus.title }}</h2></a>
                    <ul>
                        {% for page in edus.edu_pages.all %}
                        <li><a href="{% url 'page_detail' page.pk %}">{{ page.title }}</a></li>
                        {% endfor %}
                        <li><a href="{% url 'courses' edus.pk %}">Направления</a></li>
                        <li><a href="{% url 'teachers' edus.pk %}">Преподаватели</a></li>
                    </ul>
                </div>
                {% endfor %}
                <div class="element">
                    <h2>Специальности</h2>
                    <ul>
                        <li><a href="">Переводческое дело</a></li>
                        <li><a href="">Правоведение</a></li>
                        <li><a href="">Менеджмент по отраслям</a></li>
                        <li><a href="">Реклама</a></li>
                        <li><a href="">Туризм</a></li>
                        <li><a href="">Организация оюсдуживание и в гостиницах и тур комплексах</a></li>
                    </ul>
                </div>
            <div class="prefEnd"></div>
            <div class="footerDown">
                <h3>© «КЫРГЫЗСКИЙ ВУЗ КУИК КИОК» 2023</h3>
            </div>
        </div>
    </footer>
</body>
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/burger.js' %}"></script>

</html> 